@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./fonts/OpenSans-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./fonts/OpenSans-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans',sans-serif;
    src: url('./fonts/OpenSans-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./fonts/OpenSans-Regular.woff2');
    font-weight: 400;
}


@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./fonts/OpenSans_SemiCondensed-MediumItalic.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('./fonts/OpenSans_SemiCondensed-MediumItalic.woff2');
    font-weight: 400;
}

@font-face {
    font-family:'Tinos', sans-serif ;
    src: url('./fonts/Tinos-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Tinos', serif;
    src: url('./fonts/Tinos-Regular.woff2');
    font-weight: 400;
}


h2{
    font-family: 'Tinos', serif;
}

p{
    font-family: 'Open Sans', sans-serif; 
}