header-wrapper2 {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        max-width: 1449px;
        margin: 0 auto;
    }

    span {
        color: #000;
        font-family: 'Tinos', serif;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    span2 {
        font-family: 'Tinos', serif;
        color: #D67E34;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .food_title{
        margin-top: 101px;
        text-align: center;
    }

    .meat{
        gap: 28px;
        margin-top: 60px;
        display: grid;
        display: flex;
    }

    .meats{
        margin-top: 27px;
        gap: 28px;
        display: grid;
        display: flex;
    }

    .galeriy_food{
        margin-left: 167px
    }
}